.vertical-nav-bar {
  width: 117px;
  height: calc(100vh - 90px);
  position: relative;
  float: left;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  background-color: $color1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
