.activity-chart {
  background-color: $color7;
  border-radius: 5px;
  margin-bottom: 2%;
  @include box-shadow;

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    font-weight: bold;
    padding: 2% 5%;
  }
}
