.chart-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;

  & div:first-child {
    margin-right: 10px;
  }

  &__element {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color8;
    &__point {
      margin-left: 3px;
      margin-right: 3px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      &--gray {
        background-color: $color4;
      }

      &--red {
        background-color: $color2;
      }
    }
    & span:last-child {
    }
  }
}
