.copyright {
  position: absolute;
  bottom: 10%;
  width: 160px;
  left: -25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  color: $color3;

  transform: rotate(-90deg);
}
