.session-chart {
  background-color: $color2;
  width: 32%;
  border-radius: 5px;
  position: relative;
  height: 250px;

  &__header {
    position: absolute;
    left: 12%;
    top: 5%;
    color: $color7;
    width: 70%;
    opacity: 0.5;
    font-size: 0.9em;
  }
}
