$color1: #020203;
$color2: #e60000;
$color3: #ffffff;
$color4: #282d30;
$color5: #4ab8ff;
$color6: #ff0101;
$color7: #fdcc0c;
$color8: #fd5181;
$color9: rgba(255, 1, 1, 0.7);
$color10: rgba(74, 184, 255, 0.1);
$color11: #f9ce23;
$color12: rgba(253, 81, 129, 0.1);
